<div class="app-doodads">
  <h1>Doodads for <%= link_to @app.name, app_path(@app) %></h1>

  <% unless @app.doodads.count > 0 %>
    <p>There are no Doodads for this app yet. Have a great idea? <%= link_to "Be the first!", new_doodad_path %></p>
  <% else %>
    <ul>
      <% @app.doodads.each do |doodad| %>
        <li>
          <h3><%= doodad.title %></h3>
          <ul class="doodad-details">
            <li>Submitted by <%= doodad.user.username %></li>
            <li><%= doodad.description %></li>
          </ul>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>