<%= form_for [@app, @doodad] do |f| %>
  <li><%= f.label :title %></li>
  <li><%= f.text_field :title %></li>

  <li><%= f.label :description %></li>
  <li><%= f.text_area :description, size: "60x15" %></li>

  <%= f.submit %>
<% end %>
