<div class="apps-index">
  <%= link_to "Search now", search_apps_path %>

  <h3>What's hot on <span>doodads</span>:</h1>

  <% @apps.each do |app| %>
      <div class="recent-search">
        <a href="<%= app_path(app) %>"><img class="icon" src="<%= app.icon_url %>"></a>
        <ul class="app-result">
          <li><%= link_to app.name, app_path(app) %></li>
          <% formatted_price = (app.price > 0 ? "$#{app.price}" : "Free") %>
          <li><%= formatted_price %></li>
        </ul>
      </div>
  <% end %>
</div>