<div class="show-app">
  <h1>@app.name</h1>

  <img class="icon" src="<%= @app.icon_url %>" />

  <%= @app.price %>
  <%= @app.category %>
  <%= @app.description %>

  <% if @app.game_center_enabled %>
  <% end %>

  <% if @app.is_universal %>
  <% end %>

  <% @screenshots.each do |screenshot| %>
    <img class="screenshot" src="<%= screenshot %>">
  <% end %>

  <%= "This version has an average #{@app.current_rating} rating in #{@app.current_rating_count} reviews." %>
  <%= "All versions have an average #{@app.total_rating} rating in #{@app.total_rating_count} reviews." %>

  <%= link_to @app.developer, @app.developer_url %>
    
  <%= link_to "View on iTunes", @app.itunes_url %>
</div>