<!DOCTYPE html>
<html>
<head>
  <title>Doodads</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <ul>
      <li>doodads | </li>
      <li><%= link to (logged_in? ? "Sign out | " : "Sign in | "), edit_user_path @current_user %></li>      
      <li><%= link_to "Create an account", new_user_path %></li>
    </ul>
  </header>
<%= yield %>

</body>
</html>
